option_settings:
  aws:elasticbeanstalk:application:environment:
    MONGO_URI: mongodb+srv://lepakshi1304:juSXfZFfMT3UWqKh@messages-cluster.utdovdn.mongodb.net/pipeline_task?retryWrites=true&w=majority
    PORT: "80"

  aws:elasticbeanstalk:environment:
    EnvironmentType: "LoadBalanced"

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static/
